* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}

.game-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(56deg,#103958,#002E5D,#091827);
}

.container {
    width: 90vw;
    height: 90vh;
    padding: 20px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    position: relative;
}

.container p {
    position: absolute;
    font-size: 28px;
    font-weight: 300;
}

.container #pScore {
    left: 20px;
    top: 10px;
    color: #ffffff;
}

.container #cScore {
    right: 20px;
    top: 10px;
    color: #ffffff;
}

.result-area {
    position: absolute;
    top: 0;
}

#result {
    width: 100px;
    color: #ffffff;
    font-weight: 500;
    font-size: 24px;
}

.moves {
    height: auto;
    display: flex;
    gap: 150px;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #ffffff;
}

.player, .computer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: 0.2s ease;
}

.player img {
    width: 20vw;
    height: auto;
    transform: rotate(90deg) scaleX(-1);
    filter: drop-shadow(20px 0px 10px #00000060);
}

.computer img {
    width: 20vw;
    height: auto;
    transform: rotate(-90deg);
    filter: drop-shadow(20px 0px 10px #00000060);
}

.buttons {
    display: flex;
    gap: 40px;
}

.game-btn {
    width: 20vw;
    height: 18vh;
    border-radius: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #ffffff, #968989);
    transition: 0.2s ease;
    cursor: pointer;
}

.game-btn img {
    width: 35%;
    height: auto;
    filter: drop-shadow(1px 1px 10px);
}

.game-btn:hover {
    transform: scale(1.05);
}
.game-btn:active {
    transform: scale(0.98);
}
